* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bs-light);
}

nav {
  cursor: default;
}

.avatar {
  width: 4rem;
}

table {
  min-height: max-content;
}
